@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #5d5fef;
  --primary-color-dark: #4b4dbf;
  --secondary-color: #131516;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f8f8f8;
  --white: #ffffff;
  --max-width: 1200px;
}

/*=======================================================*/
.header .search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 30px auto;
  border-radius: 12px;
  max-width: 90%;
}

/* Estilo dos selects e input */
.header .search-bar select,
.header .search-bar input[type="text"] {
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  min-width: 120px;
}

/* Estilo do botão de busca */
.header .search-bar button {
  padding: 8px 20px;
  font-size: 1rem;
  background-color: orangered; /* cor do btn-warning */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-btn-wrapper {
  position: relative;
  left: 890px;
}

@media(min-width: 344px) and (max-width: 344px) {
  .search-btn-wrapper {
    position: relative;
    left: 30%;
  }
}

@media(min-width: 360px) and (max-width: 360px) {
  .search-btn-wrapper {
    position: relative;
    left: 30%;
  }
}

@media(min-width: 375px) and (max-width: 375px) {
  .search-btn-wrapper {
    position: relative;
    left: 30%;
  }
}

@media(min-width: 390px) and (max-width: 390px) {
  .search-btn-wrapper {
    position: relative;
    left: 30%;
  }
}

@media(min-width: 412px) and (max-width: 412px) {
  .search-btn-wrapper {
    position: relative;
    left: 30%;
  }
}

@media(min-width: 414px) and (max-width: 414px) {
  .search-btn-wrapper {
    position: relative;
    left: 30%;
  }
}

@media(min-width: 430px) and (max-width: 430px) {
  .search-btn-wrapper {
    position: relative;
    left: 30%;
  }
}

@media(min-width: 540px) and (max-width: 540px) {
  .search-btn-wrapper {
    position: relative;
    left: 36%;
  }
}

@media(min-width: 768px) and (max-width: 768px) {
  .search-btn-wrapper {
    position: relative;
    left: 40%;
  }
}

@media(min-width: 820px) and (max-width: 820px) {
  .search-btn-wrapper {
    position: relative;
    left: 40%;
  }
}

@media(min-width: 853px) and (max-width: 853px) {
  .search-btn-wrapper {
    position: relative;
    left: 40%;
  }
}

@media(min-width: 912px) and (max-width: 912px) {
  .search-btn-wrapper {
    position: relative;
    left: 42%;
  }
}

@media(min-width: 1024px) and (max-width: 1024px) {
  .search-btn-wrapper {
    position: relative;
    left: 74%;
  }
}

@media(min-width: 1280px) and (max-width: 1280px) {
  .search-btn-wrapper {
    position: relative;
    left: 69%;
  }
}

@media(min-width: 2400px) and (max-width: 2400px) {
  .search-btn-wrapper {
    position: relative;
    left: 60%;
  }
}
/*=======================================================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header__image__logo img {
  position: relative;
  width: 200px; /* ou qualquer valor desejado */
  height: auto; /* mantém proporção */
}

.section__container {
  max-width: var(--max-width);
  padding: 5rem 1rem;
  margin: auto;
}

.section__header__destaques {
  margin-bottom: 5px;
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
}

.section__header__exclusivos {
  margin-bottom: 5px;
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}

.section__subheader p{
  padding: 50px;
  text-align: justify;
  color: var(--text-light);
}

.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn__primary {
  color: var(--white);
  border: 2px solid var(--text-light);
  background-color: var(--text-light);
}

.btn__secondary {
  color: var(--white);
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
}

.btn__primary:hover {
  background-color: var(--primary-color-dark);
}

.btn__secondary:hover {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
}

nav {
  background-color: #091C38;
}

.nav__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  flex: 1;
}

.nav__logo a {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.nav__links .link a {
  color: white;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  padding: 5px;
  font-weight: 600;
  color: var(--text-dark);
}

.link a:hover {
  color: var(--primary-color);
}

.nav__btns {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.header {
  background-color: var(--extra-light);
}

.navbar-toggler-icon {
  filter: invert(1);
}

.navbar-light .navbar-toggler:hover {
  border-color: white;
}

.header__container {
  display: grid;
  right: 25px;
  grid-template-columns:
    minmax(0, 1fr)
    minmax(0, calc(var(--max-width) / 2))
    minmax(0, calc(var(--max-width) / 2))
    minmax(0, 1fr);
}

.header__content {
  padding: 5rem 1rem;
  grid-column: 2/3;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
  color: var(--white);
}
.header__content p {
  margin-bottom: 2rem;
  color: var(--white);
}

.header__btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header {
  position: relative;
  background-image: url("assets/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white; /* opcional, para melhor legibilidade */
  padding: 80px 20px; /* ajuste conforme o layout */
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* fundo preto transparente */
  z-index: 0;
}

.header > * {
  position: relative;
  z-index: 1;
}

/*========================================================================*/
/* Título principal */
.titulo {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

/* Subtítulo */
.sub-titulo h5 {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  color: red;
}

/* Novo container apenas para os blocos com imagem */
.info__imoveis__boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
}

#ri-map-pin-line-one {
  position: absolute;
  margin-top: 0px;
  right: 86px;
}

#ri-map-pin-line-two {
  position: absolute;
  margin-top: 0px;
  right: 86px;
}

#ri-map-pin-line-three {
  position: absolute;
  margin-top: 0px;
  right: 86px;
}

/* Container geral da seção */
.info__imoveis__container {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: -20px;
}

/* Container geral da seção */
.descricao__container {
  padding: 20px;
  margin-top: -30px;
  margin-bottom: -50px;
}

/* Container das imagens (flex) */
.info__imoveis__image__one,
.info__imoveis__image__two,
.info__imoveis__image__three {
  flex: 1;
}

/* Linha de imagens lado a lado */
.info__imoveis__container {
  flex-wrap: wrap;
  gap: 0px;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
}

/* Estilo das imagens */
.info__imoveis__container img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

/* Bloco com imagem + texto */
.info__imoveis__box {
  position: relative;
  flex: 1;
  overflow: hidden;
  border-radius: 12px;
}

/* Imagem dentro do box */
.info__imoveis__box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

/* Texto principal ("Santa Catarina") */
.info__imoveis__box h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 15px;
  z-index: 2;
  margin: 0;
}

/* Ícone seta */
.info__imoveis__box span {
  position: absolute;
  bottom: 20px;
  right: 10px;
  z-index: 2;
  font-size: 15px;
  color: white;
}

.info__imoveis__box #map-one, #map-two, #map-three {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  font-size: 15px;
  color: white;
}

/* Título e subtítulo superiores */
.info__imoveis__box p,
.info__imoveis__box h3 {
  position: absolute;
  color: white;
  z-index: 2;
  padding: 0 20px;
}

/* Título secundário (ex: "Seu Imóvel") */
.info__imoveis__box h3 {
  top: 200px;
  left: -15px;
  font-size: 20px;
}

/* Sobreposição escura sobre a imagem */
.info__imoveis__box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 12px;
}

div.descricao__one {
  position: relative;
  margin-top: 10px;
  margin-bottom: 100px;
  left: 90px;
}

div.descricao__two {
  position: relative;
  margin-top: -325px;
  margin-bottom: 100px;
  left: 485px;
}

div.descricao__three {
  position: relative;
  margin-top: -325px;
  margin-bottom: 50px;
  left: 880px;
}
/*========================================================================*/

.about__container__primary {
  display: flex;
  background-color: rgba(128, 128, 128, 0.1);
  height: 560px;
}
/*background-color: darkgray;*/
.about__container {
  display: flex;
  width: 800px;
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

@media(min-width:344px) and (max-width:344px) {
  .section__subheader {
    font-size: 46%;
  }
}

@media(min-width:360px) and (max-width:360px) {
  .section__subheader {
    font-size: 46%;
  }
}

@media(min-width:375px) and (max-width:375px) {
  .section__subheader {
    font-size: 46%;
  }
}

@media(min-width:390px) and (max-width:390px) {
  .section__subheader {
    font-size: 46%;
  }
}

@media(min-width:412px) and (max-width:412px) {
  .section__subheader {
    font-size: 46%;
  }
}

@media(min-width:414px) and (max-width:414px) {
  .section__subheader {
    font-size: 46%;
  }
}

@media(min-width:430px) and (max-width:430px) {
  .section__subheader {
    font-size: 46%;
  }
}

@media(min-width:540px) and (max-width:540px) {
  .section__subheader {
    font-size: 60%;
  }
}

@media(min-width:768px) and (max-width:768px) {
  .section__subheader {
    font-size: 90%;
  }
}

.about_content {
  margin-right: 320px; /* abre espaço pro lado da imagem */
  margin-bottom: -30px;
}

#about {
  position: relative;
  margin-top: 30px;
  height: 500px;
}

.about__image {
  position: relative; /* base para posicionar a imagem */
}

.about__image img {
  position: absolute;
  bottom: -200px;
  right: -30px;
  width: 380px;
  height: auto;
}

.about__content h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
  color: var(--primary-color);
}

h3 {
  color: #e60000;
}

.about__card h4 {
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  white-space: nowrap;
  color: var(--primary-color);
}

.about__card p {
  font-size: 2.5rem;
  color: var(--text-dark);
}

.project__container__one {
  padding: 5rem 0;
  background-color: white;
}

.project__container__two {
  padding: 5rem 0;
  background-color: #091C38;
}

.project__header {
  max-width: var(--max-width);
  margin-inline: auto;
  margin-bottom: 4rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.project__nav__destaques {
  display: flex;
  align-items: center;
  color: black;
  gap: 1rem;
}

.project__nav__destaques p {
  position: relative;
  margin-top: 15px;
}

.project__nav__destaques span {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.project__nav__destaques span:hover {
  color: var(--primary-color-dark);
}

.project__nav__exclusivos {
  display: flex;
  align-items: center;
  color: white;
  gap: 1rem;
}

.project__nav__exclusivos p {
  position: relative;
  margin-top: 15px;
}

.project__nav__exclusivos span {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.project__nav__exclusivos span:hover {
  color: var(--primary-color-dark);
}

/* swiper css */
.swiper_one {
  width: 100%;
}

.swiper_two {
  width: 100%;
}

.swiper-slide {
  width: 420px;
}

.project__card {
  padding-bottom: 3rem; /* move o espaçamento para o contêiner */
}

.project__card img {
  display: block;
  width: 100%;
  border-radius: 12px;
}

.project__content {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  width: calc(100% - 4rem);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.project__details h4 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.project__details p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: var(--text-dark);
}

.project__details button {
  padding: 0.75rem 1.25rem;
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.project__details button:hover {
  background-color: var(--primary-color-dark);
}

.stars {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 0.9rem;
  color: goldenrod;
}

.price {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: right;
}

.contact__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

/*==============================================================*/
.info__container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
}

.info__image__one,
.info__image__two {
  flex: 1; /* Faz os dois contêineres crescerem igualmente */
}

.info__container img {
  width: 100%; /* Ocupa toda a largura do contêiner */
  height: auto;
  object-fit: cover; /* Mantém proporção, pode cortar se necessário */
  border-radius: 8px; /* opcional */
}

.info__container img {
  max-height: 300px;
  object-fit: cover;
}

.info__box {
  position: relative;
  flex: 1;
  overflow: hidden;
  border-radius: 12px;
}

.info__box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

/* Deixa o h2 e o ícone alinhados horizontalmente */
.info__box h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 24px;
  z-index: 2;
  margin: 0;
}

.info__box span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  font-size: 24px;
  color: white;
}

/* Texto e título acima da imagem */
.info__box p,
.info__box h3 {
  position: absolute;
  color: white;
  z-index: 2;
  padding: 0 20px;
}

.info__box p {
  top: 20px;
  left: 20px;
  color: orange;
  font-size: 16px;
}

.info__box h3 {
  top: 50px;
  left: 20px;
  font-size: 20px;
}

/* Sobreposição escura para melhorar contraste */
.info__box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 12px;
}
/*==============================================================*/

.contact__content form {
  width: 100%;
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}

.contact__content .form__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.contact__content :is(input, textarea) {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: var(--extra-light);
  border-radius: 5px;
}

.contact__content textarea {
  font-family: "Open Sans", sans-serif;
}

.contact__content input::placeholder {
  color: var(--text-light);
}

.contact__content button {
  max-width: fit-content;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.contact__container button:hover {
  background-color: var(--primary-color-dark);
}

.footer {
  background-color: #091C38;
}

.footer__container {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: 2rem;
}

.footer__image__logo img {
  position: relative;
  margin-top: -50px;
  width: 200px; /* ou qualquer valor desejado */
  height: auto; /* mantém proporção */
}

.footer__col h4 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.footer__col p {
  margin-bottom: 1rem;
  color: var(--white);
}

.footer__col a {
  display: block;
  margin-bottom: 1rem;
  color: var(--extra-light);
  transition: 0.3s;
}

.footer__col a span {
  margin-right: 5px;
}

.footer__col a:hover {
  color: var(--primary-color);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials span {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.descricao__line {
  width: 100%;
  height: 2px;
  background-color: rgba(128, 128, 128, 0.5); /* branco, ou use outra cor */
  margin: 30px 0; /* espaço acima e abaixo */
}

.footer__line {
  width: 100%;
  height: 2px;
  background-color: white; /* branco, ou use outra cor */
  margin: 30px 0; /* espaço acima e abaixo */
}

.footer__bar__one {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--white);
  text-align: center;
  background-color: #091C38;
}

.footer__bar__two {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--black);
  text-align: center;
  background-color: white;
}

@media (width < 1200px) {
  .nav__btns {
    display: none;
  }
}

@media (width < 900px) {
  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__content {
    grid-column: unset;
  }

  .header__image {
    grid-column: unset;
    grid-area: 1/1/2/2;
  }

  .about__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: 2fr 1fr;
  }

  .footer__col:nth-child(4) {
    grid-area: 2/1/3/2;
  }
}

@media (width < 600px) {
  .nav__links {
    display: none;
  }

  .contact__content .form__group {
    gap: 1rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}